@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
    --primary-color: rgba(53, 22, 116, 0.808); 
}

body {
    font-family: 'Roboto', sans-serif;
}

hr {
    margin: 1rem 0rem;
    color: gray;
}

/**container**/
.container {
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-fluid {

}

.container-center {
    max-width: 600px;
    margin: auto;
}

.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.link-primary {    
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color:white;
}

.link-secondary {
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
}

.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

.navigation {
    color: honeydew;
    background-color: var(--primary-color);
}

.navigation .link {
    color: white;
}

.navigation u



h1 {
    color: blue;
}

